@import './feed.css';

.explorar-title {
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.search-box {
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
}

.usuario-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s;
}

.usuario-item:hover {
  background-color: #f7f9f9;
}

.usuario-info {
  flex: 1;
}
